<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <h3 class="first">Cnpj</h3>
    <input id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-8">
    <h3 class="first">Nome da Empresa</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12">
    <p-table [value]="empresas" selectionMode="single" [(selection)]="empresaSelecionada" dataKey="id" (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Novo" [routerLink]="['/empresa','novo']" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" pTooltip="Pesquisar" (click)="consultar()" tooltipPosition="top" icon="pi pi-search" class="ui-button-raised"></button>
        <button pButton [routerLink]="['/empresa',getEditarEmpresa()]" [disabled]="global.botaoDesabilitado" type="button"
          icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
        <button pButton (click)="getExcluirEmpresa()" [disabled]="global.botaoDesabilitado" type="button" icon="pi pi-trash"
          pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 91px;">Código</th>
          <th>Razão Social</th>
          <th>Cnpj</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emp>
        <tr [pSelectableRow]="emp">
          <td>{{emp.id}}</td>
          <td>{{emp.razaoSocial}}</td>
          <td>{{emp.cnpj}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">Nenhum empresa.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{empresas?.length}} empresas
      </ng-template>
    </p-table>
  </div>
