<p-confirmDialog></p-confirmDialog>
    <p-table [value]="listaParcelaPagar" [paginator]="true" [rows]="10" [responsive]="true">
        <ng-template pTemplate="caption">
            <button pButton type="button" pTooltip="Novo" [routerLink]="['/parcela-pagamento','novo']" tooltipPosition="top"
                icon="pi pi-plus" class="ui-button-raised ui-button-success"></button>
            <button pButton type="button" pTooltip="Pesquisar" (click)="consultarReajuste()" tooltipPosition="top" icon="pi pi-search"
                class="ui-button-raised"></button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 91px;">Codigo</th>
                <th>Conta Caixa</th>
                <th>Status</th>
                <th>Valor</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parcPag>
            <tr>
                <td>{{parcPag.id}}</td>
                <td>{{parcPag.contaCaixa.nome}}</td>
                <td>{{parcPag.finStatusParcela.descricao}}</td>
                <td>{{parcPag.valor | currency}}</td>
                <td>
                    <button pButton [routerLink]="['/parcela-pagamento',getEditar(parcPag)]" type="button" icon="pi pi-pencil"
                        pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
                    <button pButton (click)="getExcluir(parcPag)" type="button" icon="pi pi-trash" pTooltip="Excluir"
                        tooltipPosition="top" class="ui-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">Nenhum reajuste.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Existem {{listaLancamentoPagar?.length}} reajuste
        </ng-template>
    </p-table>