<p-confirmDialog></p-confirmDialog>
<ngx-loading [show]="global.loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Requisição</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Colaborador</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Data Requisição</h3>
    <p-calendar dateFormat="dd/mm/yy" [locale]="ptBR" ></p-calendar>
  </div>
  <div class="ui-g-12">
    <p-table [value]="listaCompraCotacao" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Novo" [routerLink]="['/compra-cotacao','novo']" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" pTooltip="Pesquisar" (click)="consultar()" tooltipPosition="top" icon="pi pi-search" class="ui-button-raised"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 91px;">Codigo</th>
          <th>Descricao</th>
          <th>Situação</th>
          <th>Data da Requisição</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-compraCot>
        <tr [pSelectableRow]="compraCot">
          <td>{{compraCot.id}}</td>
          <td>{{compraCot.descricao}}</td>
          <td>{{compraCot.situacao}}</td>
          <td>{{compraCot.dataCotacao | date:"dd/MM/yyyy"}}</td>
          <td>
            <button pButton [routerLink]="['/compra-cotacao',getEditar(compraCot)]" type="button"
            icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
          <button pButton (click)="getExcluir(compraCot)" type="button" icon="pi pi-trash"
            pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Nenhuma requisição.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{listaCompraCotacao?.length}} requisição
      </ng-template>
    </p-table>
  </div>