<form autocomplete="off" #armazemFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Empresa</h3>
      <p-dropdown id="empresa" name="empresa" [autoWidth]="false" placeholder="Selecione..." [options]="empresas"
        optionLabel="razaoSocial" [(ngModel)]="armazem.empresa" required></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-8">
      <h3 class="first">Nome do Armazem</h3>
      <input class="upperCase" id="input" type="text" size="30" name="nomeArmazem" required pInputText [(ngModel)]="armazem.nomeArmazem">
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="armazemFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>
