<form autocomplete="off" #compraCotDetalheFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Data</h3>
      <p-calendar [(ngModel)]="compraCotacao.dataCotacao" name="dataCotacao" dateFormat="yy-mm-dd" [locale]="ptBR"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-7">
      <h3 class="first">Descrição</h3>
      <input class="upperCase" id="input" type="text" size="30" name="descricao" [(ngModel)]="compraCotacao.descricao" pInputText>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Situação</h3>
      <input class="upperCase" id="input" type="text" size="30" name="situacao" [(ngModel)]="compraCotacao.situacao" pInputText>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h3 class="first">Fornecedores</h3>
      <p-table [value]="compraCotacao.listaCompraFornecedorCotacao" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="caption">
          <button pButton type="button" pTooltip="Novo" (click)="novoFornecedor()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Fornecedor</th>
            <!-- <th>Ação</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compraFornecCot>
          <tr>
            <td>{{compraFornecCot.fornecedor.pessoa.id}}</td>
            <td>{{compraFornecCot.fornecedor.pessoa.nome}}</td>
            <!-- <td>
              <button pButton (click)="editarFornecedor(compraFornecCot)" type="button" icon="pi pi-pencil"
                pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
              <button pButton (click)="excluirFornecedor(compraFornecCot)" type="button" icon="pi pi-trash"
                pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <!-- <td colspan="3">Nenhum Fornecedor</td> -->
            <td colspan="2">Nenhum Fornecedor</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{compraCotacao.listaCompraFornecedorCotacao?.length}} Fornecedores
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h3 class="first">Itens</h3>
      <p-table [value]="compraCotacao.listaCompraReqCotacaoDetalhe" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="caption">
          <button pButton type="button" pTooltip="Novo" (click)="novoItem()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Produto</th>
            <th>Qtde. Cotada</th>
            <!-- <th>Ação</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compraReqCotDet>
          <tr>
            <td>{{compraReqCotDet.compraRequisicaoDetalhe.produto.id}}</td>
            <td>{{compraReqCotDet.compraRequisicaoDetalhe.produto.descricao}}</td>
            <td>{{compraReqCotDet.quantidadeCotada}}</td>
            <!-- <td>
              <button pButton (click)="editarItem(compraReqCotDet)" type="button" icon="pi pi-pencil"
                pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
              <button pButton (click)="excluirItem(compraReqCotDet)" type="button" icon="pi pi-trash"
                pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <!-- <td colspan="4">Nenhum Fornecedor</td> -->
            <td colspan="3">Nenhum Fornecedor</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{compraCotacao.listaCompraReqCotacaoDetalhe?.length}} Itens
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="compraCotDetalheFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>

<p-dialog header="Inserir Fornecedor" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayFornec"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-9">
      <h3 class="first">Fornecedor</h3>
      <p-autoComplete [(ngModel)]="fornecedor" name="fornecedor" [suggestions]="filtroFornecedor"
        (completeMethod)="buscaFornecedor($event)" emptyMessage="Nenhum registro encontrado!" field="pessoa.nome" required
        class="upperCase"></p-autoComplete>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirFornecedor()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusaoFornec()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Inserir Produto" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayProd"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-12">
      <p-table [value]="listaCompraRequisicaoDetalhe" selectionMode="single" [(selection)]="requisicaoSelecionada" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Produto</th>
            <th>Qtde.</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compraReqDet>
          <tr [pSelectableRow]="compraReqDet">
            <td>{{compraReqDet.produto.descricao}}</td>
            <td>{{compraReqDet.quantidade}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2">Nenhuma detalhe da requisição.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{istaCompraRequisicaoDetalhe?.length}} Detalhes
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Qtde.</h3>
      <p-spinner size="30" [(ngModel)]="quantidade" decimalSeparator="," thousandSeparator="."
        [step]="0.01"></p-spinner>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirProduto()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusaoProd()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>