<div style="text-align: center">
  <h1>
    <p>Ops</p>
  </h1>
  <p>Registro não Encontrado</p>
  <p><small>O registro solicitado não existe ou foi removido</small></p>
  <p><a [routerLink]="['/']" >Voltar para o Inicio</a></p>
</div>
