<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <!-- <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Tipo Contagem</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Colaborador</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Data Contagem</h3>
    <p-calendar dateFormat="dd/mm/yy" [locale]="ptBR"></p-calendar>
  </div> -->
  <p-table [value]="listaEstoqueContagem" [paginator]="true" [rows]="10" [responsive]="true">
    <ng-template pTemplate="caption">
      <button pButton type="button" pTooltip="Novo" [routerLink]="['/estoque-contagem','novo']" tooltipPosition="top"
        icon="pi pi-plus" class="ui-button-raised ui-button-success"></button>
      <button pButton type="button" pTooltip="Pesquisar" (click)="consultarContagem()" tooltipPosition="top" icon="pi pi-search"
        class="ui-button-raised"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 91px;">Codigo</th>
        <th>Data do Contagem</th>
        <th>Estoque Atualizado?</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-estoqueCont>
      <tr>
        <td>{{estoqueCont.id}}</td>
        <td>{{estoqueCont.dataContagem | date:"d/MM/yyyy"}}</td>
        <td>{{estoqueCont.estoqueAtualizado === 'N' ? 'Não' : 'Sim'}}</td>
        <td>
          <button pButton [routerLink]="['/estoque-contagem',getEditar(estoqueCont)]" type="button" icon="pi pi-pencil"
            pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
          <button pButton (click)="getExcluir(estoqueCont)" type="button" icon="pi pi-trash" pTooltip="Excluir"
            tooltipPosition="top" class="ui-button-danger"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Nenhum Contagem.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Existem {{listaEstoqueContagem?.length}} Contagem
    </ng-template>
  </p-table>
</div>