<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Tipo Reajuste</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Colaborador</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>

  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h3 class="first">Data Reajuste</h3>
    <p-calendar dateFormat="dd/mm/yy" [locale]="ptBR"></p-calendar>
  </div>
  <p-table [value]="listaEstoqueReajuste" [paginator]="true" [rows]="10" [responsive]="true">
    <ng-template pTemplate="caption">
      <button pButton type="button" pTooltip="Novo" [routerLink]="['/estoque-reajuste','novo']" tooltipPosition="top"
        icon="pi pi-plus" class="ui-button-raised ui-button-success"></button>
      <button pButton type="button" pTooltip="Pesquisar" (click)="consultarReajuste()" tooltipPosition="top" icon="pi pi-search"
        class="ui-button-raised"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 91px;">Codigo</th>
        <th>Tipo Reajuste</th>
        <th>Colaborador</th>
        <th>Data do Reajuste</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-estoqueReq>
      <tr>
        <td>{{estoqueReq.id}}</td>
        <td>{{estoqueReq.tipoReajuste === 'A' ? 'Aumentado' : 'Diminuido'}}</td>
        <td>{{estoqueReq.colaborador.pessoa.nome}}</td>
        <td>{{estoqueReq.dataReajuste | date:"d/MM/yyyy"}}</td>
        <td>
          <button pButton [routerLink]="['/estoque-reajuste',getEditar(estoqueReq)]" type="button" icon="pi pi-pencil"
            pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
          <button pButton (click)="getExcluir(estoqueReq)" type="button" icon="pi pi-trash" pTooltip="Excluir"
            tooltipPosition="top" class="ui-button-danger"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Nenhum reajuste.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Existem {{listaEstoqueReajuste?.length}} reajuste
    </ng-template>
  </p-table>
</div>