<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <span>Conta Caixa</span>
    <input type="text" pInputText [(ngModel)]="parcelaReceber.contaCaixa.nome" [disabled]="true" />
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <span>Status</span>
    <input type="text" pInputText [(ngModel)]="parcelaReceber.finStatusParcela.descricao" />
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <span>Nr. Parcela</span>
    <input type="text" pInputText [(ngModel)]="parcelaReceber.numeroParcela" />
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2">
    <span>Valor</span>
    <input pInputText currencyMask [(ngModel)]="valorReceber" />
  </div>
  <div class="ui-g-12">
    <p-table [value]="parcelaReceber.listaFinParcelaRecebimento" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Incluri Recebimento" (click)="recebimento()" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Tipo Recebimento</th>
          <th>Conta Caixa</th>
          <th>Data Recebimento</th>
          <th>Valor</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-parcReceber>
        <tr>
          <td>{{parcReceber.finTipoRecebimento.descricao}}</td>
          <td>{{parcReceber.contaCaixa.nome}}</td>
          <td>{{parcReceber.dataRecebimento}}</td>
          <td>{{parcReceber.valorPago | currency}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">Nenhuma Recebimento da Parcela.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{parcelaReceber.listaFinParcelaRecebimento?.length}} Recebimento(s) da Parcela
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button type="button" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
    </div>
  </div>
</div>
<p-dialog header="Inserir Recebimento" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="display"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Tx. Juros</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.txJuro" min="0" max="100" />
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Vl. Juros</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.valorJuro" />
    </div>

    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Tx. Multa</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.txMulta" min="0" max="100" />
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Vl. Multa</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.valorMulta" />
    </div>

    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Tx. Desconto</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.txDesconto" min="0" max="100" />
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Vl. Desconto</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.valorDesconto" />
    </div>

    <div class="ui-g-12 ui-md-3 ui-lg-3">
      <span>Vl. Pago</span>
      <input pInputText currencyMask [(ngModel)]="parcelaRecebimento.valorPago" />
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <h3 class="first">Tipo Recebimento</h3>
        <p-dropdown [options]="opcoesTipoRecebimento" 
                    optionLabel="descricao" [(ngModel)]="parcelaRecebimento.finTipoRecebimento" 
                    name="descricao" 
                    placeholder="Selecione..."required></p-dropdown>
      </div>
    <div class="ui-g-12">
        <span>Historico</span>
      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="parcelaRecebimento.historico" ></textarea>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirRecebimento()" label="Inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarRecebimento()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
