<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-lg-4">
        <h3 class="first">Natureza Financ.</h3>
        <input class="upperCase" id="input" type="text" size="30" pInputText>
    </div>

    <div class="ui-g-12 ui-md-4 ui-lg-4">
        <h3 class="first">Doc. Origem</h3>
        <input class="upperCase" id="input" type="text" size="30" pInputText>
    </div>

    <div class="ui-g-12 ui-md-4 ui-lg-4">
        <h3 class="first">Fornecedor</h3>
            <input class="upperCase" id="input" type="text" size="30" pInputText>
    </div>
    <p-table [value]="listaLancamentoPagar" [paginator]="true" [rows]="10" [responsive]="true">
        <ng-template pTemplate="caption">
            <button pButton type="button" pTooltip="Novo" [routerLink]="['/lancamento-pagar','novo']" tooltipPosition="top"
                icon="pi pi-plus" class="ui-button-raised ui-button-success"></button>
            <button pButton type="button" pTooltip="Pesquisar" (click)="consultarReajuste()" tooltipPosition="top" icon="pi pi-search"
                class="ui-button-raised"></button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 91px;">Codigo</th>
                <th>Fornecedor</th>
                <th>Natureza Financ.</th>
                <th>Doc. Origem</th>
                <th>Valor</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancPagar>
            <tr>
                <td>{{lancPagar.id}}</td>
                <td>{{lancPagar.fornecedor.pessoa.nome}}</td>
                <td>{{lancPagar.finNaturezaFinanceira.descricao}}</td>
                <td>{{lancPagar.finDocumentoOrigem.siglaDocumento}}</td>
                <td>{{lancPagar.valorTotal | currency}}</td>
                <td>
                    <button pButton [routerLink]="['/lancamento-pagar',getEditar(lancPagar)]" type="button" icon="pi pi-pencil"
                        pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
                    <button pButton (click)="getExcluir(lancPagar)" type="button" icon="pi pi-trash" pTooltip="Excluir"
                        tooltipPosition="top" class="ui-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">Nenhum reajuste.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Existem {{listaLancamentoPagar?.length}} reajuste
        </ng-template>
    </p-table>
</div>