<form autocomplete="off" #pedidoDetalheFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-2">
      <h3 class="first">Codigo</h3>
      <input class="upperCase" id="input" type="text" size="30" name="codigo" [(ngModel)]="pedido.numeroFatura"
        required pInputText>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-2">
      <h3 class="first">Doc. Fiscal</h3>
      <p-autoComplete [(ngModel)]="pedido.tipoNotaFiscal" name="tipoNotaFiscal" [suggestions]="filtroTipoFiscal"
        (completeMethod)="buscaTipoNotaFiscal($event)" emptyMessage="Nenhum registro encontrado!" field="modelo"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Vendedor</h3>
      <p-autoComplete [(ngModel)]="pedido.vendedor" name="vendedor" [suggestions]="filtroVendedor" (completeMethod)="buscaVendedor($event)"
        emptyMessage="Nenhum registro encontrado!" field="colaborador.pessoa.nome" required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Transportadora</h3>
      <p-autoComplete [(ngModel)]="pedido.transportadora" name="transportadora" [suggestions]="filtroTransportadora"
        (completeMethod)="buscaTransportadora($event)" emptyMessage="Nenhum registro encontrado!" field="pessoa.nome"
        class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h3 class="first">Cliente</h3>
      <p-autoComplete [(ngModel)]="pedido.cliente" name="cliente" [suggestions]="filtroCliente" (completeMethod)="buscaCliente($event)"
        emptyMessage="Nenhum registro encontrado!" field="pessoa.nome" required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Condição Pagamento</h3>
      <p-autoComplete [(ngModel)]="pedido.vendaCondicoesPagamento" name="pagamento" [suggestions]="filtroCondicaoPagamento"
        (completeMethod)="buscaCondicaoPagamento($event)" emptyMessage="Nenhum registro encontrado!" field="descricao"
        required class="upperCase"></p-autoComplete>
    </div>

    <!-- <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Valor Total</h3>
      <p-spinner size="30" name="valorTotal" [(ngModel)]="pedido.valorTotal" decimalSeparator="," thousandSeparator="."
        [step]="0.01"></p-spinner>
    </div> -->
    <hr />
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <!-- <div class="ui-g-12 ui-md-6 ui-lg-2">
            <h3 class="first">Codigo</h3>
            <input class="upperCase" id="input" type="text" size="30" name="situacao" pInputText>
          </div> -->
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <h3 class="first">Nome</h3>
          <p-autoComplete [(ngModel)]="produto" name="produto" [suggestions]="filtroProduto" (completeMethod)="buscaProduto($event)"
            (onSelect)="selecionarProduto($event)" emptyMessage="Nenhum registro encontrado!" field="descricao" class="upperCase"></p-autoComplete>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Qtde</h3>
          <p-spinner class="upperCase" size="30" [(ngModel)]="qtdeProduto" name="qtdeProduto" [step]="0.01"
            decimalSeparator="," thousandSeparator="."></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Valor</h3>
          <p-spinner class="upperCase" size="30" [(ngModel)]="valorProduto" name="valorProduto" [step]="0.01"
            decimalSeparator="," thousandSeparator="."></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Desconto</h3>
          <p-spinner class="upperCase" size="30" [(ngModel)]="valorDesconto" name="valorDesconto" [step]="0.01"
            decimalSeparator="," thousandSeparator="."></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first" style="color: white">Inserir</h3>
          <button pButton type="button" pTooltip="Novo" (click)="novoProduto()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2"></div>
      </div>
    </div>
    <p-table [value]="pedido.listaVendaDetalhe" [paginator]="true" [rows]="2" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Qtde</th>
          <th>Vl. Unitario</th>
          <th>Vl. Desconto</th>
          <th>Total</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedDet>
        <tr>
          <td>{{pedDet.produto.id}}</td>
          <td>{{pedDet.produto.descricao}}</td>
          <td>{{pedDet.quantidade}}</td>
          <td>{{pedDet.valorUnitario}}</td>
          <td>{{pedDet.valorDesconto}}</td>
          <td>{{pedDet.valorTotal}}</td>
          <td>
            <button pButton (click)="editarProduto(pedDet)" type="button" icon="pi pi-pencil" pTooltip="Editar"
              tooltipPosition="top" class="ui-button-warning"></button>
            <button pButton (click)="excluirProduto(pedDet)" type="button" icon="pi pi-trash" pTooltip="Excluir"
              tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nenhum Produto</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{pedido.listaVendaDetalhe?.length}} Produtos
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td style="text-align: right;" colspan="7">Total: {{pedido.valorTotal | currency}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="pedidoDetalheFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>