<ngx-loading [show]="global.loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<form #usuarioForm="ngForm" autocomplete="off">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <p-card title="EtemoERP" subtitle="Digite Cpf e Senha para entrar!" styleClass="ui-card-shadow ui-card-title">
        <p-header>
          <img src="Logo" src="../../../assets/images/fullpng3.png">
        </p-header>
        <div>
          <label for="cpf">Cpf</label>
          <p-inputMask id="cpf" mask="999.999.999-99" name="cpf" [(ngModel)]="usuario.cpf" required></p-inputMask>
        </div>
        <div>
          <label for="senha">Senha</label>
          <input type="password" pInputText name="password" [(ngModel)]="usuario.selo" required />
        </div>
        <p-footer>
          <button pButton type="button" [(disabled)]="usuarioForm.invalid" (click)="login(); usuario.selo = ''"
          label="Logar" icon="pi pi-check" style="margin-right: .25em"></button>
        </p-footer>
      </p-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  </div>
</form>
