<p-growl [(value)]="global.msgs"></p-growl>
<!-- <div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-2" *ngIf="loginService.getUsuarioLogado()" >
    <img src="../assets/images/fullpng3.png" style="width: 32px; height: 32px;" [routerLink]="['/']" alt="">
    <span style="font-size: 32px;">EtemoERP</span>
    <p-panelMenu [model]="items" [style]="{'width':'200px'}"></p-panelMenu>
  </div>

  <div class="ui-g-12 ui-md-10 ui-g-nopad">
    <div class="ui-g-12">
      <p-toolbar *ngIf="loginService.getUsuarioLogado()" >
        <div class="ui-toolbar-group-left">
            {{global.tituloJanela}}
        </div>

        <div class="ui-toolbar-group-right">
            Sistema de Gestão de Processos
        </div>
      </p-toolbar>
    </div>
    <div class="ui-g-12"> -->
      <router-outlet></router-outlet>
    <!-- </div>
  </div>
  <div class="ui-g-12">
    <p-toolbar *ngIf="loginService.getUsuarioLogado()" >
      <div class="ui-toolbar-group-left">
        Tempo de acesso: {{loginService.tempoAcesso}} seg.
      </div>

      <div class="ui-toolbar-group-right">
        <label>{{loginService.usuario.cpf}}</label> (<a href="#" (click)="loginService.logOut()">Sair</a>)
      </div>
    </p-toolbar>
  </div>
</div> -->
