<nav class="navbar navbar-expand navbar-dark bg-dark static-top" *ngIf="loginService.getUsuarioLogado()">
  <img src="../assets/images/fullpng3.png" style="width: 32px; height: 32px;" [routerLink]="['/']" alt="">
  <a class="navbar-brand mr-1">EtemoERP</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    Olá {{loginService.jwtPayload?.nome}}, Seja bem Vindo! 
    Tempo de acesso: {{loginService.tempoAcesso}} seg.
  </form>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">Configurações</a>
        <a class="dropdown-item" href="#">Informações</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="loginService.logOut()">Sair</a><!-- href="#" data-toggle="modal" data-target="#logoutModal" -->
      </div>
    </li>
  </ul>

</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav" *ngIf="loginService.getUsuarioLogado()">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">
        <!-- href="index.html"-->
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Cadastros</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Cadastros Base</h6>
        <a class="dropdown-item" [routerLink]="['/cargo']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Cargo</a>
        <a class="dropdown-item" [routerLink]="['/colaborador']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Colaborador</a>
        <a class="dropdown-item" [routerLink]="['/empresa']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Empresa</a>
        <a class="dropdown-item" [routerLink]="['/armazem']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Armazem</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Other Pages:</h6>
        <a class="dropdown-item">404 Page</a>
        <a class="dropdown-item">Blank Page</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Comercial</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Compras</h6>
        <a class="dropdown-item" [routerLink]="['/compra-requisicao']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Requisição</a>
        <a class="dropdown-item" [routerLink]="['/compra-cotacao']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Cotação</a>
        <h6 class="dropdown-header">Vendas</h6>
        <a class="dropdown-item" [routerLink]="['/venda-orcamento']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Orçamento</a>
        <a class="dropdown-item" [routerLink]="['/venda-pedido']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Pedido</a>
        <h6 class="dropdown-header">Estoque</h6>
        <a class="dropdown-item" [routerLink]="['/estoque-reajuste']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Reajuste</a>
        <a class="dropdown-item" [routerLink]="['/estoque-contagem']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Contagem</a>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Financeiro</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">A Pagar</h6>
          <a class="dropdown-item" [routerLink]="['/lancamento-pagar']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Contas a Pagar</a>
          <a class="dropdown-item" [routerLink]="['/parcela-pagamento']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Pagamento a Pagar</a>
          <h6 class="dropdown-header">A Receber</h6>
          <a class="dropdown-item" [routerLink]="['/lancamento-receber']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Contas a Receber</a>
          <a class="dropdown-item" [routerLink]="['/parcela-recebimento']" *ngIf="loginService.temPermissao('ROLE_CADASTRAR')">Pagamento a Receber</a>
        </div>
      </li>

    <li class="nav-item">
      <!-- <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a> -->
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a> -->
    </li>
  </ul>
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb" *ngIf="loginService.getUsuarioLogado()">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{global.tituloJanela}}</li>
      </ol>
      <p-growl [(value)]="global.msgs"></p-growl>
      
      <router-outlet></router-outlet>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer" *ngIf="loginService.getUsuarioLogado()">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © MvSistema - 2018 - Versão da Api {{loginService.jwtPayload?.versaoApi}}</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para terminar sua sessão atual.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" data-dismiss="modal">Sair</a>
      </div>
    </div>
  </div>
</div>