<p-confirmDialog></p-confirmDialog>
<form autocomplete="off" #empresaFrm="ngForm">
  <p-tabView>
    <p-tabPanel header="Infomrações da Empresa" leftIcon="pi pi-calendar">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <h3 class="first">Tipo Empresa</h3>
          <p-dropdown id="tipoEmpresa" name="tipoEmpresa" [(ngModel)]="tipo" [autoWidth]="false" placeholder="Selecione..."
          [options]="tipoEmpresa" optionLabel="label.texto" (ngModelChange)="selecionarTipoEmpresa($event)" required></p-dropdown>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <h3 class="first">CRT</h3>
          <p-dropdown id="crt" name="crt" [autoWidth]="false" [(ngModel)]="regime" placeholder="Selecione..."
            [options]="crt" optionLabel="label" (ngModelChange)="selecionarTipoRegime($event)" required></p-dropdown>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <h3 class="first">Cnpj</h3>
          <p-inputMask mask="99.999.999/9999-99" name="cnpj" [(ngModel)]="empresa.cnpj" required></p-inputMask>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <h3 class="first">IE</h3>
          <input class="upperCase" id="input" type="text" name="ie" name="cnpj" [(ngModel)]="empresa.ie" size="30" required pInputText>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-8">
          <h3 class="first">Razão Social</h3>
          <input class="upperCase" id="input" type="text" name="rs" name="cnpj" [(ngModel)]="empresa.razaoSocial" size="30" required
            pInputText>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <h3 class="first">Nome Fantasia</h3>
          <input class="upperCase" id="input" type="text" name="nf" name="cnpj" [(ngModel)]="empresa.nomeFantasia" size="30" required
            pInputText>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Endereço" leftIcon="pi pi-inbox">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Cep</h3>
          <p-inputMask mask="99.999-999" name="cep" [(ngModel)]="empresa.endereco.cep" (change)="consultaCep()"
            required></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-1">
          <h3 class="first">Loc.</h3>
          <button type="button" pButton icon="pi pi-search" (click)="consultaCep()" class="ui-button-success"></button>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <h3 class="first">Logradouro</h3>
          <input class="upperCase" id="input" type="text" name="rua" [(ngModel)]="empresa.endereco.logradouro" size="30" required
            pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Numero</h3>
          <input class="upperCase" id="input" type="text" name="numero" [(ngModel)]="empresa.endereco.numero" size="30" required
            pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <h3 class="first">Bairro</h3>
          <input class="upperCase" id="input" type="text" name="bairro" [(ngModel)]="empresa.endereco.bairro" size="30" required
            pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <h3 class="first">Complemento</h3>
          <input class="upperCase" id="input" type="text" name="add" [(ngModel)]="empresa.endereco.complemento" size="30" pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <h3 class="first">Cidade</h3>
          <input class="upperCase" id="input" type="text" name="cidade" [(ngModel)]="empresa.endereco.cidade.nome" size="30" required
            pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-1">
          <h3 class="first">UF</h3>
          <input class="upperCase" id="input" type="text" name="uf" [(ngModel)]="empresa.endereco.cidade.estado.uf" size="30" required
            pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Telefones e E-mail" leftIcon="pi pi-user" rightIcon="pi pi-star">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-7">
          <h3 class="first">E-mail</h3>
          <input id="email" type="text" name="email" [(ngModel)]="empresa.email" required pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Telefone</h3>
          <p-inputMask mask="(99) 99999-999?" id="tel" type="text" name="tel" [(ngModel)]="telefone.numero"></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-1">
          <h3 class="first">Inserir</h3>
          <button type="button" pButton icon="pi pi-check" (click)="inserirTelefone()" class="ui-button-success"></button>
        </div>
        <p-table [value]="empresa.telefones" selectionMode="single" [(selection)]="telefoneSelecionado" dataKey="numero"
          (onRowSelect)="onRowSelectTelefone($event)" (onRowUnselect)="onRowUnselectTelefone($event)" [paginator]="true"
          [rows]="5" [responsive]="true">
          <ng-template pTemplate="caption">
            <button pButton (click)="getExcluirTelefone()" [disabled]="botaoDesabilitado" type="button" icon="pi pi-trash"
              pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Telefone</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tel>
            <tr [pSelectableRow]="tel">
              <td>{{tel.numero}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="1">Nenhum telefone.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Existem {{telefones?.length}} Telefones
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>

  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button type="button" [disabled]="empresaFrm.invalid" pButton label="Salvar" (click)="salvarEmpresa(empresaFrm)" class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
    </div>
  </div>


</form>
