<form autocomplete="off" #estoqueReaDetalheFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Colaborador</h3>
      <p-autoComplete [(ngModel)]="estoqueReajuste.colaborador" name="colaborador" [suggestions]="filtroColaborador"
        (completeMethod)="buscaColaborador($event)" emptyMessage="Nenhum registro encontrado!" field="pessoa.nome"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Data</h3>
      <p-calendar [(ngModel)]="estoqueReajuste.dataReajuste" name="dataRequisicao" dateFormat="yy-mm-dd" [locale]="ptBR"
        required></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Porcentagem</h3>
      <p-spinner size="30" [(ngModel)]="estoqueReajuste.porcentagem" name="porcentagem" decimalSeparator="," thousandSeparator="." [step]="0.01"
        required></p-spinner>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-4">
      <h3 class="first">Tipo Reajuste</h3>
      <p-dropdown [options]="opcoesTipoReajuste" [(ngModel)]="estoqueReajuste.tipoReajuste" name="tipoReajuste" required></p-dropdown>
    </div>
    <!-- Tabela -->
    <div class="ui-g-12">
      <p-table [value]="estoqueReajuste.listaEstoqueReajusteDetalhe" [paginator]="true" [rows]="5" [responsive]="true" required>
        <ng-template pTemplate="caption">
          <button pButton type="button" pTooltip="Novo" (click)="inserir()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Produto</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estoqueReaDet>
          <tr>
            <td>{{estoqueReaDet.produto.id}}</td>
            <td>{{estoqueReaDet.produto.descricao}}</td>
            <!-- <td>{{estoqueReaDet.porcentagem}}</td>
              <td>{{estoqueReaDet.dataReajuste}}</td>
              <td>
                <button pButton (click)="editar(estoqueReaDet)"  type="button" icon="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
                <button pButton (click)="excluir(estoqueReaDet)"  type="button" icon="pi pi-trash"
                  pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
              </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2">Nenhuma detalhe do reajuste.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{estoqueReajuste.listaEstoqueReajusteDetalhe?.length}} Detalhes
        </ng-template>
      </p-table>
    </div>
    <!-- fim Tabela -->
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="estoqueReaDetalheFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>

<p-dialog header="Inserir Produto" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="display"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-9">
      <h3 class="first">Produto</h3>
      <p-autoComplete [(ngModel)]="produto" name="produto" [suggestions]="filtroProduto" (completeMethod)="buscaProduto($event)"
        emptyMessage="Nenhum registro encontrado!" field="descricao" required class="upperCase"></p-autoComplete>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirProduto()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusao()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>