<form autocomplete="off" #lancamentoReceberFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Natureza Financeira</h3>
      <p-autoComplete [(ngModel)]="lancamentoReceber.finNaturezaFinanceira" name="descricao" [suggestions]="filtroNaturezaFinanceira"
        (completeMethod)="buscaNaturezaFinanceira($event)" emptyMessage="Nenhum registro encontrado!" field="descricao"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Doc. Origem</h3>
      <p-autoComplete [(ngModel)]="lancamentoReceber.finDocumentoOrigem" name="siglaDocumento" [suggestions]="filtroDocumentoOrigem"
        (completeMethod)="buscaDocumentoOrigem($event)" emptyMessage="Nenhum registro encontrado!" field="siglaDocumento"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Conta Caixa</h3>
      <p-autoComplete [(ngModel)]="lancamentoReceber.contaCaixa" name="nomeContaCaixa" [suggestions]="filtroContaCaixa"
        (completeMethod)="buscaContaCaixa($event)" emptyMessage="Nenhum registro encontrado!" field="nome"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Cliente</h3>
      <p-autoComplete [(ngModel)]="lancamentoReceber.cliente" name="clienteNome" [suggestions]="filtroCliente"
        (completeMethod)="buscaCliente($event)" emptyMessage="Nenhum registro encontrado!" field="pessoa.nome"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Valor Total</h3>
      <p-spinner size="30" [(ngModel)]="lancamentoReceber.valorTotal" name="valorTotal" [step]="0.01" decimalSeparator="," thousandSeparator="." required></p-spinner>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Qtde. Parcela</h3>
      <p-spinner size="30" [(ngModel)]="lancamentoReceber.quantidadeParcela" name="quantidadeParcela" [step]="1" required></p-spinner>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Primeiro Vencimento</h3>
      <p-calendar [(ngModel)]="lancamentoReceber.primeiroVencimento" name="primeiroVencimento" dateFormat="yy-mm-dd" [locale]="ptBR"
        required></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Intervalo entre Parcelas</h3>
      <p-spinner size="30" [(ngModel)]="lancamentoReceber.intervaloEntreParcelas" name="intervaloEntreParcelas" [step]="1" required></p-spinner>
    </div>

    <!-- Tabela -->
    <div class="ui-g-12">
      <p-table [value]="lancamentoReceber.listaFinParcelaReceber" [paginator]="true" [rows]="5" [responsive]="true" required>
        <!-- <ng-template pTemplate="caption">
          <button pButton type="button" pTooltip="Novo" (click)="inserir()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </ng-template> -->
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Conta Caixa</th>
            <th>Status</th>
            <th>Nr. Parcela</th>
            <th>Emissão</th>
            <th>Vencimento</th>
            <th>Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancReceber>
          <tr>
            <td>{{lancReceber.id}}</td>
            <td>{{lancReceber.contaCaixa.nome}}</td>
            <td>{{lancReceber.finStatusParcela.descricao}}</td>
            <td>{{lancReceber.numeroParcela}}</td>
            <td>{{lancReceber.dataEmissao}}</td>
            <td>{{lancReceber.dataVencimento}}</td>
            <td>{{lancReceber.valor}}</td>
            <!-- <td>{{estoqueReaDet.porcentagem}}</td>
              <td>{{estoqueReaDet.dataReajuste}}</td>
              <td>
                <button pButton (click)="editar(estoqueReaDet)"  type="button" icon="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
                <button pButton (click)="excluir(estoqueReaDet)"  type="button" icon="pi pi-trash"
                  pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
              </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Nenhum Lançamento a Receber.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{lancamentoReceber.listaFinParcelaReceber?.length}} Lançamento a Receber
        </ng-template>
      </p-table>
    </div>
    <!-- fim Tabela -->
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="lancamentoReceberFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>

<!-- <p-dialog header="Inserir Produto" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="display"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-9">
      <h3 class="first">Produto</h3>
      <p-autoComplete [(ngModel)]="produto" name="produto" [suggestions]="filtroProduto" (completeMethod)="buscaProduto($event)"
        emptyMessage="Nenhum registro encontrado!" field="descricao" required class="upperCase"></p-autoComplete>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirProduto()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusao()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog> -->
