<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="first">Nome do Colaborador</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>
  <div class="ui-g-12">
    <p-table [value]="colaboradores" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Novo" [routerLink]="['/colaborador','novo']" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" pTooltip="Pesquisar" (click)="consultar()" tooltipPosition="top" icon="pi pi-search"
          class="ui-button-raised"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 91px;">Codigo</th>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Setor</th>
          <th>Matricula</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-col>
        <tr [pSelectableRow]="col">
          <td>{{col.id}}</td>
          <td>{{col.pessoa.nome}}</td>
          <td>{{col.cargo.nome}}</td>
          <td>{{col.setor.nome}}</td>
          <td>{{col.matricula}}</td>
          <td>
            <button pButton [routerLink]="['/colaborador',getEditarColaborador(col)]" type="button" icon="pi pi-pencil"
              pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
            <button pButton (click)="getExcluirColaborador(col)" type="button" icon="pi pi-trash" pTooltip="Excluir"
              tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Nenhum colaborador.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{colaboradores?.length}} colaborador
      </ng-template>
    </p-table>
  </div>