<form autocomplete="off" #estoqueContDetalheFrm="ngForm">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <h3 class="first">Data</h3>
            <p-calendar [(ngModel)]="estoqueContagem.dataContagem" name="dataRequisicao" dateFormat="yy-mm-dd" [locale]="ptBR"
                required></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-2 ui-lg-4">
            <h3 class="first">Estoque Atualizado</h3>
            <p-dropdown [options]="opcoesEstoqueAtalizado" [(ngModel)]="estoqueContagem.estoqueAtualizado" name="tipoContagem"
                required></p-dropdown>
        </div>
        <!-- Tabela -->
        <div class="ui-g-12">
            <p-table [value]="estoqueContagem.listaEstoqueContagemDetalhe" [paginator]="true" [rows]="5" [responsive]="true"
                required>
                <ng-template pTemplate="caption">
                    <button pButton type="button" pTooltip="Novo" (click)="inserir()" tooltipPosition="top" icon="pi pi-plus"
                        class="ui-button-raised ui-button-success"></button>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Codigo</th>
                        <th>Produto</th>
                        <th>Qtde. Contada</th>
                        <th>Qtde. Sistema</th>
                        <th>Acuracidade</th>
                        <th>Divergência</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-estoqueContDet>
                    <tr>
                        <td>{{estoqueContDet.produto.id}}</td>
                        <td>{{estoqueContDet.produto.descricao}}</td>
                        <td>{{estoqueContDet.quantidadeContada}}</td>
                        <td>{{estoqueContDet.quantidadeSistema}}</td>
                        <td>{{estoqueContDet.acuracidade}}</td>
                        <td>{{estoqueContDet.divergencia}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Nenhuma detalhe da Contagem.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    Existem {{estoqueContagem.listaEstoqueContagemDetalhe?.length}} Detalhes
                </ng-template>
            </p-table>
        </div>
        <!-- fim Tabela -->
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <button type="button" [disabled]="estoqueContDetalheFrm.invalid" pButton label="Salvar" (click)="salvar()"
                    class="ui-button-success"></button>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
            </div>
        </div>
    </div>
</form>

<p-dialog header="Inserir Produto" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="display"
    [width]="600" [height]="200" [modal]="true" [responsive]="true">
    <div class="ui-g-12 ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-7">
            <h3 class="first">Produto</h3>
            <p-autoComplete [(ngModel)]="produto" name="produto" [suggestions]="filtroProduto" (completeMethod)="buscaProduto($event)"
                emptyMessage="Nenhum registro encontrado!" field="descricao" required class="upperCase"></p-autoComplete>
        </div>

        <div class="ui-g-12 ui-md-3 ui-lg-5">
            <h3 class="first">Qtde. Contada</h3>
            <p-spinner size="30" [(ngModel)]="quantidade" name="quantidade" decimalSeparator="," thousandSeparator="."
                [step]="0.01" required></p-spinner>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="incluirProduto()" label="inserir"></button>
        <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusao()" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>