<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="first">Nome do Cargo</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>
  <div class="ui-g-12">
    <p-table [value]="cargos" selectionMode="single" [(selection)]="cargoSelecionado" dataKey="id" (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Novo" [routerLink]="['/cargo','novo']" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" pTooltip="Pesquisar" (click)="consultar()" tooltipPosition="top" icon="pi pi-search"
          class="ui-button-raised"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 91px;">Codigo</th>
          <th>Nome</th>
          <th>Descricao</th>
          <th>Salario</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr [pSelectableRow]="car">
          <td>{{car.id}}</td>
          <td>{{car.nome}}</td>
          <td>{{car.descricao}}</td>
          <td>{{car.salario | currency}}</td>
          <td>
            <button pButton [routerLink]="['/cargo',getEditarCargo(car)]" type="button"
              icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
            <button pButton (click)="getExcluirCargo(car)" type="button" icon="pi pi-trash"
              pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Nenhum cargo.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{cargos?.length}} cargo
      </ng-template>
    </p-table>
  </div>