<form autocomplete="off" #compraReqDetalheFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-2">
      <h3 class="first">Requisição</h3>
      <p-autoComplete [(ngModel)]="compraRequisicao.compraTipoRequisicao" name="compraTipoRequisicao" [suggestions]="filtroTipoRequisicao"
        (completeMethod)="buscaTipoRequisicao($event)" emptyMessage="Nenhum registro encontrado!" field="nome" required
        class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Colaborador</h3>
      <p-autoComplete [(ngModel)]="compraRequisicao.colaborador" name="colaborador" [suggestions]="filtroColaborador"
        (completeMethod)="buscaColaborador($event)" emptyMessage="Nenhum registro encontrado!" field="pessoa.nome"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <h3 class="first">Data</h3>
      <p-calendar [(ngModel)]="compraRequisicao.dataRequisicao" name="dataRequisicao" dateFormat="yy-mm-dd" [locale]="ptBR"></p-calendar>
    </div>
    <!-- Tabela -->
    <div class="ui-g-12">
      <p-table [value]="compraRequisicao.listaCompraRequisicaoDetalhe" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="caption">
          <button pButton type="button" pTooltip="Novo" (click)="inserir()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Produto</th>
            <th>Qtde.</th>
            <th>Qtde. Cotada</th>
            <th>Produto Cotado?</th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compraReqDet>
          <tr>
            <td>{{compraReqDet.produto.descricao}}</td>
            <td>{{compraReqDet.quantidade}}</td>
            <td>{{compraReqDet.quantidadeCotada}}</td>
            <td>{{compraReqDet.itemCotado}}</td>
            <td>
              <button pButton (click)="editar(compraReqDet)" [disabled]="compraReqDet.itemCotado == 'S' ? true : false" type="button" icon="pi pi-pencil"
                pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
              <button pButton (click)="excluirProduto(compraReqDet)" [disabled]="compraReqDet.itemCotado == 'S' ? true : false" type="button" icon="pi pi-trash"
                pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Nenhuma detalhe da requisição.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{compraRequisicao.listaCompraRequisicaoDetalhe?.length}} Detalhes
        </ng-template>
      </p-table>
    </div>
    <!-- fim Tabela -->
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="compraReqDetalheFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>

<p-dialog header="Inserir Item na Requisição" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="display"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-9">
      <h3 class="first">Produto</h3>
      <p-autoComplete [(ngModel)]="detalheSelecionado.produto" name="produto" [suggestions]="filtroProduto"
        (completeMethod)="buscaProduto($event)" emptyMessage="Nenhum registro encontrado!" field="descricao" required
        class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Qtde.</h3>
      <p-spinner size="30" [(ngModel)]="detalheSelecionado.quantidade" decimalSeparator="," thousandSeparator="."
        [step]="0.01"></p-spinner>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirProduto()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusao()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>