<form autocomplete="off" #colaboradorFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <div class="circle">
      <img src="{{urlFoto}}" alt="" style="max-width: 100px; height: auto;">
      </div>
      <br/>
      <p-fileUpload mode="basic" name="file" url="{{urlUpload}}" (onError)="erroUpload($event)" auto="true"
        (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)" accept="image/*" chooseLabel="Anexar"></p-fileUpload>

        <!-- <p-fileUpload auto="true" mode="basic" customUpload="true" (uploadHandler)="myUploader($event)" chooseLabel="Anexar"></p-fileUpload> -->
    </div>

    <div class="ui-g-12 ui-md-2 ui-lg-2">

    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-8"></div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h3 class="first">Nome</h3>
      <p-autoComplete [(ngModel)]="colaborador.pessoa" name="pessoa" [suggestions]="filtroPessoa" (completeMethod)="buscaPessoa($event)"
        emptyMessage="Nenhum registro encontrado!" field="nome" required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Cargo</h3>
      <p-autoComplete [(ngModel)]="colaborador.cargo" name="cargo" [suggestions]="filtroCargo" (completeMethod)="buscaCargo($event)"
        emptyMessage="Nenhum registro encontrado!" field="nome" required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Setor</h3>
      <p-autoComplete [(ngModel)]="colaborador.setor" name="setor" [suggestions]="filtroSetor" (completeMethod)="buscaSetor($event)"
        emptyMessage="Nenhum registro encontrado!" field="nome" required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Tipo do Colaborador</h3>
      <p-autoComplete [(ngModel)]="colaborador.tipoColaborador" name="tipoColaborador" [suggestions]="filtroTipoColaborador"
        (completeMethod)="buscaTipoColaborador($event)" emptyMessage="Nenhum registro encontrado!" field="nome" required class="upperCase"></p-autoComplete>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="colaboradorFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>