<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="first">Nome do Armazem</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>
  <div class="ui-g-12">
    <p-table [value]="armazens" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Novo" [routerLink]="['/armazem','novo']" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" pTooltip="Pesquisar" (click)="consultar()" tooltipPosition="top" icon="pi pi-search"
          class="ui-button-raised"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 91px;">Codigo</th>
          <th>Armazem</th>
          <th>Empresa</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-arm>
        <tr>
          <td>{{arm.id}}</td>
          <td>{{arm.nomeArmazem}}</td>
          <td>{{arm.empresa.razaoSocial}}</td>
          <td>
            <button pButton [routerLink]="['/armazem',getEditarArmazem(arm)]" type="button"
              icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
            <button pButton (click)="getExcluirArmazem(arm)" type="button" icon="pi pi-trash"
              pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">Nenhum armazem.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{armazens?.length}} armazens
      </ng-template>
    </p-table>
  </div>