<p-confirmDialog></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12">
    <h3 class="first">N. Venda</h3>
    <input class="upperCase" id="input" type="text" size="30" pInputText>
  </div>
  <div class="ui-g-12">
    <p-table [value]="listaPedido" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="caption">
        <button pButton type="button" pTooltip="Novo" [routerLink]="['/venda-pedido','novo']" tooltipPosition="top" icon="pi pi-plus"
          class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" pTooltip="Pesquisar" (click)="consultar()" tooltipPosition="top" icon="pi pi-search"
          class="ui-button-raised"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 91px;">N. Venda</th>
          <th>Cliente</th>
          <th>Total</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ped>
        <tr>
          <td>{{ped.numeroFatura}}</td>
          <td>{{ped.cliente.pessoa.nome}}</td>
          <td>{{ped.valorTotal | currency}}</td>
          <td>
            <button pButton [routerLink]="['/venda-pedido',getEditar(ped)]" type="button"
              icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="ui-button-warning"></button>
            <button pButton (click)="getExcluir(ped)" type="button" icon="pi pi-trash"
              pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">Nenhum Pedido.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{listaPedido?.length}} Pedido
      </ng-template>
    </p-table>
  </div>

