<form autocomplete="off" #cargoFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Nome</h3>
      <input class="upperCase" id="input" type="text" size="30" name="nome" required pInputText [(ngModel)]="cargo.nome">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-8">
      <h3 class="first">Descrição</h3>
      <input class="upperCase" id="input" type="text" size="30" name="descricao" required pInputText [(ngModel)]="cargo.descricao">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">CBO-1994</h3>
      <input class="upperCase" id="input" type="text" size="30" name="cbo1994" required pInputText [(ngModel)]="cargo.cbo1994">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">CBO-2002</h3>
      <input class="upperCase" id="input" type="text" size="30" name="cbo2002" required pInputText [(ngModel)]="cargo.cbo2002">
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Salario</h3>
      <input class="upperCase" id="input" type="text" size="30" name="salario" required pInputText [(ngModel)]="cargo.salario">
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="cargoFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>
