<form autocomplete="off" #orcamentoDetalheFrm="ngForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Codigo</h3>
      <input class="upperCase" id="input" type="text" size="30" name="codigo" [(ngModel)]="orcamento.codigo" pInputText>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Condição Pagamento</h3>
      <p-autoComplete [(ngModel)]="orcamento.vendaCondicoesPagamento" name="pagamento" [suggestions]="filtroCondicaoPagamento"
        (completeMethod)="buscaCondicaoPagamento($event)" emptyMessage="Nenhum registro encontrado!" field="descricao"
        required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-5">
      <h3 class="first">Transportadora</h3>
      <p-autoComplete [(ngModel)]="orcamento.transportadora" name="transportadora" [suggestions]="filtroTransportadora"
        (completeMethod)="buscaTransportadora($event)" emptyMessage="Nenhum registro encontrado!" field="pessoa.nome"
        class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-8">
      <h3 class="first">Cliente</h3>
      <p-autoComplete [(ngModel)]="orcamento.cliente" name="cliente" [suggestions]="filtroCliente" (completeMethod)="buscaCliente($event)"
        emptyMessage="Nenhum registro encontrado!" field="pessoa.nome" required class="upperCase"></p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <h3 class="first">Vendedor</h3>
      <p-autoComplete [(ngModel)]="orcamento.vendedor" name="vendedor" [suggestions]="filtroVendedor" (completeMethod)="buscaVendedor($event)"
        emptyMessage="Nenhum registro encontrado!" field="colaborador.pessoa.nome" required class="upperCase"></p-autoComplete>
    </div>

    <!-- <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Valor Total</h3>
      <p-spinner size="30" name="valorTotal" [(ngModel)]="orcamento.valorTotal" decimalSeparator="," thousandSeparator="."
        [step]="0.01"></p-spinner>
    </div> -->
    <hr />
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <h3 class="first">Produto</h3>
          <p-autoComplete [(ngModel)]="produto" name="produto" [suggestions]="filtroProduto" (completeMethod)="buscaProduto($event)"
            (onSelect)="selecionarProduto($event)" emptyMessage="Nenhum registro encontrado!" field="descricao"
            required class="upperCase"></p-autoComplete>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Qtde</h3>
          <p-spinner class="upperCase" [(ngModel)]="qtdeProduto" name="qtdeProduto" [step]="0.01" decimalSeparator=","
            thousandSeparator="." required></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Valor</h3>
          <p-spinner class="upperCase" [(ngModel)]="valorProduto" name="valorProduto" [step]="0.01" decimalSeparator=","
            thousandSeparator="." required></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first">Desconto</h3>
          <p-spinner class="upperCase" [(ngModel)]="valorDesconto" name="valorDesconto" [step]="0.01" decimalSeparator=","
            thousandSeparator="." required></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <h3 class="first" style="color: white">Inserir</h3>
          <button pButton type="button" pTooltip="Novo" (click)="novoProduto()" tooltipPosition="top" icon="pi pi-plus"
            class="ui-button-raised ui-button-success"></button>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2"></div>
      </div>
    </div>
    <p-table [value]="orcamento.listaVendaOrcamentoDetalhe" [paginator]="true" [rows]="2" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Qtde</th>
          <th>Vl. Unitario</th>
          <th>Vl. Desconto</th>
          <th>Total</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-orcDet>
        <tr>
          <td>{{orcDet.produto.id}}</td>
          <td>{{orcDet.produto.descricao}}</td>
          <td>{{orcDet.quantidade}}</td>
          <td>{{orcDet.valorUnitario}}</td>
          <td>{{orcDet.valorDesconto}}</td>
          <td>{{orcDet.valorTotal}}</td>
          <td>
            <button pButton (click)="editarProduto(orcDet)" type="button" icon="pi pi-pencil" pTooltip="Editar"
              tooltipPosition="top" class="ui-button-warning"></button>
            <button pButton (click)="excluirProduto(orcDet)" type="button" icon="pi pi-trash" pTooltip="Excluir"
              tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nenhum Produto</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existem {{orcamento.listaVendaOrcamentoDetalhe?.length}} Produtos
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td style="text-align: right;" colspan="7">Total: {{orcamento.valorTotal | currency}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" [disabled]="orcamentoDetalheFrm.invalid" pButton label="Salvar" (click)="salvar()" class="ui-button-success"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button type="button" pButton label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>

<!-- <p-dialog header="Inserir Fornecedor" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayFornec"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-9">
      <h3 class="first">Fornecedor</h3>
      <p-autoComplete [(ngModel)]="fornecedor" name="fornecedor" [suggestions]="filtroFornecedor" (completeMethod)="buscaFornecedor($event)"
        emptyMessage="Nenhum registro encontrado!" field="pessoa.nome" required class="upperCase"></p-autoComplete>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirFornecedor()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusaoFornec()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Inserir Produto" closable="false" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayProd"
  [width]="600" [height]="200" [modal]="true" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-lg-12">
      <p-table [value]="listaCompraRequisicaoDetalhe" selectionMode="single" [(selection)]="requisicaoSelecionada"
        [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Produto</th>
            <th>Qtde.</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compraReqDet>
          <tr [pSelectableRow]="compraReqDet">
            <td>{{compraReqDet.produto.descricao}}</td>
            <td>{{compraReqDet.quantidade}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2">Nenhuma detalhe da requisição.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{istaCompraRequisicaoDetalhe?.length}} Detalhes
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h3 class="first">Qtde.</h3>
      <p-spinner size="30" [(ngModel)]="quantidade" decimalSeparator="," thousandSeparator="." [step]="0.01"></p-spinner>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="incluirProduto()" label="inserir"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelarInclusaoProd()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog> -->